form {
display: flex;
flex-direction: column;
}

body {
    background: linear-gradient(to right, hsla(291, 69%, 44%, 0.458), hsla(240, 50%, 50%, 0.604));
  }

label {
font-weight: bold;
margin-bottom: 8px;
color: rgb(51, 8, 51);
}

input[type="text"], input[type="date"], select {
width: 200px;
height: 32px;
border: 1px solid gray;
border-radius: 4px;
margin-bottom: 16px;
padding: 8px;
background-color: white;
color: black;
transition: background-color 0.3s ease-in-out;
}

input[type="text"]:hover, input[type="date"]:hover, select:hover {
background-color: lightgray;
}

input[type="submit"] {
width: 60px;
height: 32px;
background-color: lightblue;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
background-color: blue;
color: white;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid rgb(0, 0, 0);
padding: 8px;
}

tr {
    /* Add hover effect to rows */
    transition: background-color 0.2s;
    cursor: pointer;
}

tr:hover {
    background-color: lightgray;
}

/* Add alternating background colors to rows */
tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

/* Add padding to cells */
td {
    padding: 12px; /* Change this value to your desired padding */
}